{% extends 'base.html' %}

{% block first_way %} 

    <div class="subjects_school_main">
        <div class="subjects_school">
            <div class="subjects_school_choice">
                <img src="../../../static/images/subjects_school/matemathic.PNG">
                <p><i>Алгебра</i></p>
            </div>
            <div class="subjects_school_choice">
                <img src="../../../static/images/subjects_school/russian.PNG">
                <p><i>Русский язык</i></p>
            </div>
            <div class="subjects_school_choice">
                <img src="../../../static/images/subjects_school/geometry.PNG">
                <p><i>Геометрия</i></p>
            </div>
            <div class="subjects_school_choice">
                <img src="../../../static/images/subjects_school/literature.PNG">
                <p><i>Литература</i></p>
            </div>
            <div class="subjects_school_choice">
                <img src="../../../static/images/subjects_school/physics.PNG">
                <p><i>Физика</i></p>
            </div>
            <div class="subjects_school_choice">
                <img src="../../../static/images/subjects_school/chemistry.PNG">
                <p><i>Химия</i></p>
            </div>
        </div>
    </div>

{% endblock %}


