{% extends "base.html" %}

{% block title %}
    category
{% endblock %}

{% block first_way %}
<div style="margin: 0px auto;
            display:flex;
            flex-direction: column;
            width: 100%;
            margin-top:15px;">
<div class="subjects">
    <div class="subjects_block">
        <ul class="subjects_list">
            <li><a href="http://127.0.0.1:5000/category/school"> Школьная программа </a></li>
            <li><a href="url"> Python3 </a></li>
            <li><a href="http://127.0.0.1:5000/category/mark_down_or_page_down"> MarkDown или PageDown </a></li>
            <li><a href="http://127.0.0.1:5000/category/selenium"> Selenium </a></li>
            <li><a href="url"> Какой-то текст </a></li>
        </ul>
    </div>
    <div class="subjects_block">
        <ul class="subjects_list">
            <li><a href="url"> Какой-то текст </a></li>
            <li><a href="url"> Какой-то текст </a></li>
            <li><a href="url"> Какой-то текст </a></li>
            <li><a href="url"> Какой-то текст </a></li>
            <li><a href="url"> Какой-то текст </a></li>
        </ul>
    </div>
</div>
</div>
{% endblock %}