{% extends 'base.html' %}





{% block first_way %}

        <div>
            <h1>Вас приветствует MarkDown</h1><br>
            <h3> Данный редактор является ознакомительным.</h3><br>
            <p>Ссылка на официальный сайт редактора https://daringfireball.net/projects/markdown/</p>
        </div>
        <div style="min-height:500px;">
        <form method="POST" style="width: 100%; position: relative;">
                {{ form.pagedown(rows = 10, style="width:100%; min-width:50%;") }}
        </form>
        </div>


        <div>
        <h3>Возможности редактора</h3><br>
        <h5>Заголовки</h5>
        <p># (текст) - заголовок первого уровня, в HTML тег 'h1'</p>
        <p>## (текст) - заголовок второго уровня, в HTML тег 'h2'</p>
        <p>### (текст) - заголовок третьего уровня, в HTML тег 'h3'</p>
        <p>#### (текст) - заголовок четвертого уровня, в HTML тег 'h4'</p>
        <p>##### (текст) - заголовок пятого уровня, в HTML тег 'h5'</p>
        <p>###### (текст) - заголовок шестого уровня, в HTML тег 'h6'</p>
        <h5>Горизонтальные линии</h5>
        <p> " * * * * * " , " ---------- " , " _ _ _ _ _ " <br>
            Можно использовать любой из предложенных вариантов, результат будет один и тот же. </p>
        <h5>Абзацы и параграфы</h5>
        <p>В маркдаун все блочные элементы (заголовки, списки, абзацы и т.д.) — все,
            что визуально начинается с новой строки отбивается пустой строкой. 
            Для вставки пустой строки необходимо два раза поставить символ переноса 
            строки (нажать на Enter)</p>
        <h5>Использование HTML</h5>
        <p>Редактор MarkDown так же может читать синтаксис HTML и работать вместе.<br>
            Например попробуйте написать **&lt;h3&gt;Hello World!&lt;/h3&gt;** <br>
            Только удалите точки, они не нужны</p>
            http://ilfire.ru/kompyutery/shpargalka-po-sintaksisu-markdown-markdaun-so-vsemi-samymi-populyarnymi-tegami/
        </div>
{% endblock %}

