{% extends "base.html" %}

{% block title %}
    selenium python
{% endblock %}



{% block first_way %}

<div class="selenium_page_main">
    <div class="selenium_page">
        <div class="selenium">
            <p>Left</p>
        </div>
        <div class="selenium center">
            <h1 style="margin: 0px auto;">Selenium WebDriver</h1>
            <h4>Данная статья относится к языку программирования Python</h4>
            <p><strong>Что такое селениум? Selenium WebDriver</strong> – это программная библиотека для управления браузерами.<br>
                С Selenium вы можете имиторавать действия человека в интернете. Например открывать страницы сайтов, заполнять
                различные формы, авторизовываться.</p>
            <p style="margin: 0px auto;">В этой статье я расскажу вам, как установить Selenium на windows.</p>
            <br>
            <p>1) Сначало нужно скачать сам Selenium. В консоли прописать команду <b>"pip install selenium"</b></p>
            <p>2) Теперь нужно установить Selenium. В консоли прописать команду<b> "pip.exe install selenium"</b></p>
            <p>3) Последнее, что нужня для работы это Geckodriver .Geckodriver – это адаптер, преобразователь из протокола
                W3C WebDriver в протокол Marionette. Версию для вашей платформы вы можете скачать отсюда 
                <b> https://github.com/mozilla/geckodriver/releases/ </b>.
                 Скачанный файл просто разместите в той же дирректории, где написан ваш Selenium скрипт.</p>
            <p>4) Давайте напишем первый скрипт для Selenium. <br><br>
                <strong>
                from selenium import webdriver<br>
                <br>
                driver = webdriver.Firefox()<br>
                <br>
                driver.get('https://www.vk.com')<br>
                login = driver.find_element_by_css_selector('#index_email')<br>
                login.send_keys('Ваш логин или почта')<br>
                <br>
                password = driver.find_element_by_css_selector('#index_pass')<br>
                password.send_keys('Ваш пароль')<br>
                <br>
                sumbit = driver.find_element_by_css_selector('#index_login_button')<br>
                sumbit.click()</p></strong>
        </div>
        <div class="selenium">
            <p>Right</p>
        </div>
    </div>
</div>

{% endblock %}