{% extends 'base.html' %}
    
{% block content %} 
<div class="main_block_content">
    <div class="req_auth_center">
        <div class="col-4">
                <h2>{{title}}</h2>
            <form action="{{ url_for('login.process_login') }}" method="post" class="box_shadow">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}<br>
                    {{ form.username() }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}<br>
                    {{ form.password() }}
                    <br>
                    {{ form.submit }}
                </div>
                <div class="flag_login_remember">
                    {{ form.remember_me() }}
                    {{ form.remember_me.label(class_='form-check-label') }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
