<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ url_for('static' , filename='css/menu.css') }}" rel='stylesheet'>
    <link href="{{ url_for('static' , filename='css/content.css') }}" rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ category_name }}</title>
</head>
<body style="display: flex; flex-direction: column;">  

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning" role="alert" style="margin: 0px;">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
            <p style="margin: 0px;"> {{ role }}</p>
            <p style="margin: 0px;">{{results}}</p>

    <header>
        <div class="main_block_menu">
            <div style="flex-direction: row; display: flex;">
                <a href="/"> Главное меню</a>
            </div>
            <div>
                <a href='/registration_page'> Registration</a>
                <a href="/login">Login</a>
                <a href="{{ url_for('login.logout') }}"> Logout </a>
            </div>
        </div>
        
    </header>
    <content>

        {% block content %}        {% endblock %}

    </content>
     <footer>

     </footer>
</body>
</html>