<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>title</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-warning" role="alert">
    {% for message in messages %}
        {{ message }}<br>
    {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
            <p> {{ role }}</p>
        <p>{{results}}</p>
    <a href='/registration_page'> Registration</a>
    <a href="/login">Login</a>
    <a href="{{ url_for('logout') }}"> Logout </a>
    <h1>Categories</h1><hr>
    <form action="/categories" method="POST">
        <label for="category">Add a category</label>
        <br></br>
        <input type="text" name="category">
        <br></br>
        <button type="submit">Add a category</button>
    </form>
    <br><hr>
    {% for c in categories %}
    <a href="{{ url_for('page', link_path=c.name) }}">{{ c.name }}</a><br>
    <form action="/delete_a_category" method="POST">
    <input type="hidden" name="category_id" value="{{ c.id }}">
    <button type="submit">Delete</button>
    </form>
    <br><br>
    {% endfor %}
    <br>


</body>
</html>