{% extends "base.html" %}

{% block first_way %} 
    <div style="margin: 0px auto;
                display:flex;
                flex-direction: column;
                margin-top:15px;">
    <div style="text-align: center;">
        <h3>Добро пожаловать на наш сайт</h3><br>
        <p>Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста 
                Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста 
                Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста 
                Много текста Много текста Много текста Много текста Много текста Много текста Много текста 
                Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста 
        </p>
    </div>
    </div>


{% endblock %}