content {
    border:0px solid black;
}

.title_name {
    text-align: center;
}

.main_block_content {
    max-width: 1400px;
    margin:0px auto;
    padding: 5px;
}

.add_item {
    display: flex;
    flex-direction: row;
}

.add_item_form {
    display: flex;
    flex-direction: row;
    border: 0px solid black;
    justify-content: right;
}

.add_item_label {
    display: flex;
    flex-direction: column;
}

.block_all_items {
    padding: 4px;
    border: 0px solid blue;
    margin: 0px auto;
    max-width: 1400px;
    display: flex;
    align-content: center;
}

.wrapper_all_items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 0px auto;
    position: relative;
    padding: 5px;
    border:0px solid yellowgreen;
    margin: 2px;
}

.all_items {
    border: 0px solid blue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.item-1 {
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid #214056;
    padding: 5px;
    border-radius: 5px;
}

.item-2 {
    width:65%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #214056;
    padding: 5px;
    border-radius: 5px;
}
.item-1:hover {
    border-radius: 5px;
    border:2px solid #DC3545;
}
