body {
    background-color: white;
}


.greeting {
    display: flex;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom:20px;
    border:0px solid black;
    min-width:480px;
    justify-content: center;
    background-color: #FFFFFF;
    border-bottom: 0px solid black;
}

.site_bar_main {
    margin:0px auto;
    padding:0px;
    border: 0px solid black;
    display: flex;
    height: 60px;
    background-color: #FFFFFF;
    border-bottom: 0.5px solid #898989;
    box-shadow: 0px 5px 15px -5px #898989;
}

.site_bar_main a {
    text-decoration: none;
    color:black;
}


.site_bar {
    display:flex;
    width:1200px;
    min-width: 480px;
    margin:0px auto;
}

.cell_bar {
    display: flex;
    border: 1px solid #fff;
    height: 100%;
    align-items: center;
    padding:3px;
    transition: 0.08s;
}

.nav_bar_left {
    margin:0px auto;
    display: flex;
    flex-direction: row;
    border:0px solid black;
    height: 100%;
    width:100%;
}

.nav_bar_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:0px solid black;
    height: 100%;
    width:100%;
}

.site_bar img {
    height: 25px;
}


.cell_bar:hover {
    background-color: #fff;;
    border-radius: 35%;
    margin-top:0px;
    border-right:1px solid black;
    border-left: 1px solid black;
}


/* закончился header начинается content ===================*/

.first_block {
    max-width:1200px;
    min-width: 480px;
    margin: 0px auto;
    padding-top: 30px;
    display:flex;
    flex-direction: column;
    border:0px solid black;
}

content {
    max-width:1200px;
    min-width: 480px;
    margin: 0px auto;
    padding-top: 30px;
    display:flex;
    flex-direction: column;
    border:0px solid black;
}
.content_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* final_information =======================*/
footer {
    min-width: 480px;
    margin: 0px auto;
    padding-top: 30px;
    margin-bottom: 30px;
    display:flex;
    flex-direction: column;
    border:0px solid black;
    border-bottom: 0.5px solid #898989;
    box-shadow: 0px 5px 15px -5px #898989;
}

.final_information_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

